.btn-primary {
  color: var(--ligth-white);
  background-color: var(--primary-dark);
  border-radius: 1.25rem;
  border: none;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  min-width: 146px;

  &:hover {
    background-color: var(--primary-ligth);
    color: var(--neutral-white);
  }

  &:focus-visible, &:active {
    color: var(--ligth-white) !important;
    background-color: var(--primary-dark) !important;
    box-shadow: none !important;
  }
}
