@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

.subtitle-3 {
  color: var(--neutral-white);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
 .heading-7 {
  color: var(--text-heading-color-1);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

.paragraph-4 {
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.paragraph-3 {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
