<h1 class="heading-7 pb-2">{{ title }}</h1>
<form class="mt-4">
  <div class="row">
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputName" [formControl]="form.controls.name">
        <label for="inputName">Nome Cliente:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputEmail" [formControl]="form.controls.email">
        <label for="inputBirthDate">E-mail:</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3">
        <select class="form-select" [formControl]="form.controls.gender">
          <option ngValue="M">Masculino</option>
          <option ngValue="F">Feminino</option>
        </select>
        <label for="inputGender">Gênero:</label>
      </div>
    </div>

  </div>
</form>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
  <button class="btn btn-primary paragraph-4 me-md-2" type="button" (click)="returnPageList()">VOLTAR</button>
  <button class="btn btn-primary paragraph-4" type="button" (click)="createBodyClient()">SALVAR</button>
</div>

<ng-template #modalCreateUpdate let-c="close" let-d="dismiss">
	<div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <div class="mb-1">
      <i class="display-3 bi" [ngClass]="modal.modalIcon"></i>
    </div>
    <div class="body-text paragraph-4 mt-2">
      <p [innerHTML]="modal.modalMsg"></p>
    </div>
    <div>
      <button type="button" class="btn btn-primary paragraph-4" (click)="closeModal()">OK</button>
    </div>
	</div>
</ng-template>
