.navbar {
  padding: 15px 0 15px 0;

  &.bg-dark {
    background-color: var(--primary-darkest) !important;
  }

  .navbar-toggler {
    border: none !important;
    padding: 0;

    .navbar-toggler-icon {
      width: 1.75rem;
      height: 1.43rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'%3E%3Cpath d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z' fill='white'/%3E%3C/svg%3E");
    }

    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 0.10rem;
    }
  }
}
